/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 30px;
}

h1, h2 {
  margin: 15px 0;
}

label {
  display: block;
}

.form_group {
  margin-bottom: 10px;
}

.book_body, .book_title {
  padding: 2px;
}

.submit_btn {
  padding: 1px 6px;
}

td {
  padding: 0 5px 7px 5px;
}

.show {
  margin: 30px;
}

.error_explanation {
  width: 450px;
  border: 2px solid red;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.error_explanation p {
  font-weight: bold;
  color: white;
  background-color: #c00;
  padding: 5px 15px;
  font-size: 12px;
}

.error_list {
  margin: 30px;
  padding-left: 30px;
}

.flash-message {
  color: green;
}